@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 50;
  top: 35px;
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.header__row {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .header {
    height: 100%;
    top: -150%;
    padding-top: 20px;
    background: rgba(77, 73, 89, 0.7);
  }
  .header__row {
    align-items: center;
  }
}

.header.active {
  top: 0;
  position: fixed;
}

.menu {
  position: relative;
  width: 620px;
}
@media (min-width: 768px) {
  .menu__body {
    height: 85px;
  }
}
.menu__row {
  display: flex;
  align-items: center;
  flex: 0 0 620px;
  height: 100%;
  justify-content: space-between;
}
.menu__item {
  display: none;
}
.menu__element {
  position: relative;
  padding: 0 70px;
}
.menu__element a {
  cursor: pointer;
  color: #4d4959;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.menu__element:first-child {
  padding: 0;
}
.menu__element:last-child {
  padding-right: 0;
}
.menu__element::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #4d4959;
  position: absolute;
  top: 50%;
  left: 33px;
  margin-top: -1px;
}
.menu__element:first-child::before {
  content: "";
  display: none;
}
.menu__element:active {
  transform: scale(0.95);
}
@media (max-width: 767px) {
  .menu {
    width: auto;
    top: 0;
  }
  .menu__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .first-element {
    padding-top: 50px !important;
  }
  .menu .first-element::before {
    content: "";
    display: none !important;
  }
  .menu__item {
    display: block;
  }
  .menu__element {
    padding: 100px 0 0 0 !important;
  }
  .menu__element::before {
    top: 48px;
    left: 50%;
    margin-left: -2px;
  }
  .menu__element:first-child::before {
    content: "";
    display: block;
  }
  .menu__element a {
    color: #fff;
  }
  .menu__element::before {
    background: #fff;
  }
  .menu__row {
    flex-direction: column;
  }
}

.main-screen {
  flex: 1 0 100%;
  background: url("../image/header-bg.png") center/cover no-repeat;
}
.main-screen__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 100;
  margin-left: -47px;
}
.main-screen__burger {
  display: none;
}
@media (max-width: 767px) {
  .main-screen__burger {
    display: block;
    position: fixed;
    top: 58px;
    right: 40px;
    z-index: 51;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .main-screen__logo {
    top: 20px;
  }
  .main-screen__burger-line {
    height: 2.2px;
    color: #4d4959;
    background: #64c29e;
    border-radius: 2px;
    margin-bottom: 5px;
    transition: 0.2s;
  }
  .main-screen__burger-line:last-child {
    margin-bottom: 0;
  }
}

.burger-menu.active {
  height: 30px;
}
.burger-menu.active > :first-child {
  transform: rotate(45deg);
  position: relative;
  top: 6.3px;
  margin: 0;
}
.burger-menu.active > :nth-child(2) {
  scale: 0;
}
.burger-menu.active > :last-child {
  transform: rotate(-45deg);
  position: relative;
  bottom: 2.3px;
}

.block-text {
  padding: 72px 0;
}
.block-text__container {
  text-align: center;
  padding: 50px 67px;
}
.block-text__container_max-width {
  max-width: 1100px;
  margin: 0 auto;
}
.block-text__icon {
  margin-bottom: 25px;
}
.block-text__title {
  margin-bottom: 19px;
  color: #353738;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 28px;
}
.block-text__paragraf {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 34px;
}
@media (max-width: 1100px) {
  .block-text {
    padding: 60px 0;
  }
  .block-text__container {
    padding: 35px 40px;
  }
  .block-text__icon {
    margin-bottom: 28px;
  }
  .block-text__title {
    letter-spacing: 2.5px;
    margin-bottom: 22px;
  }
  .block-text__paragraf {
    line-height: 24px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .block-text {
    padding: 50px 0;
  }
  .block-text__icon {
    margin-bottom: 25px;
  }
  .block-text__title {
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .block-text__paragraf {
    line-height: 23px;
    font-size: 14px;
  }
}

.cards > div {
  display: flex;
}
@media (max-width: 767px) {
  .cards > div {
    flex-direction: column;
  }
}

.background-img {
  background: center/cover no-repeat;
  position: relative;
}
@media (max-width: 767px) {
  .background-img {
    height: auto;
    width: 100% !important;
    padding-bottom: 60%;
  }
}
.background-img_vintage-olivia {
  background-image: url(../image/vintage-olivia.png);
  width: 66.667%;
}
.background-img_la-boriosa {
  background-image: url(../image/la-boriosa.png);
  width: 66.667%;
}
.background-img_retro-bike-first {
  background-image: url(../image/retro-bike-first.png);
  width: 33.333%;
}
.background-img_retro-bike-second {
  background-image: url(../image/retro-bike-second.png);
  width: 33.333%;
}
.background-img__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(100, 194, 158, 0.5);
  transition: 0.2s;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
.background-img:hover .background-img__logo {
  opacity: 1;
  visibility: visible;
}

.text-img {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .text-img {
    width: 100%;
  }
}
.text-img__block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}
.text-img__block-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
@media (max-width: 767px) {
  .text-img__block-text {
    padding: 0;
  }
  .text-img__block-text__icon {
    margin-bottom: 25px;
  }
  .text-img__block-text__title {
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .text-img__block-text__paragraf {
    line-height: 23px;
    font-size: 14px;
  }
}
.text-img__after::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 30px auto 0;
  background: #dbdbdb;
}
.text-img__background-img {
  padding: 0 0 37.502% 0;
  background: center/cover no-repeat;
}
.text-img__background-img_vintage-olivia {
  background-image: url(../image/vintage-olivia-mini-background.png);
}
.text-img__background-img_la-boriosa {
  background-image: url(../image/la-boriosa-mini-background.png);
}
.text-img__background-img_retro-bike {
  background-image: url(../image/retro-bike-mini-background.png);
}

.twitter {
  display: flex;
  flex: 0 0 470px;
  justify-content: center;
  align-items: center;
}
.twitter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 67px;
}
.twitter__img {
  padding-bottom: 35px;
}
.twitter__title {
  padding-bottom: 24px;
  color: #353738;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-align: center;
}
.twitter__title span {
  font-family: "Myriad Pro";
  letter-spacing: 1.8px;
  color: #848789;
  font-weight: 300;
}
.twitter__paragraf {
  padding-bottom: 104px;
  color: #848789;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}
@media (max-width: 1300px) {
  .twitter {
    flex: 0 0 420px;
  }
  .twitter__img {
    padding-bottom: 30px;
  }
  .twitter__title {
    font-size: 17px;
    padding-bottom: 20px;
  }
  .twitter__paragraf {
    padding-bottom: 80px;
    line-height: 28px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .twitter {
    flex: 0 0 410px;
  }
  .twitter__img {
    padding-bottom: 25px;
  }
  .twitter__title {
    font-size: 16px;
    padding-bottom: 17px;
  }
  .twitter__paragraf {
    padding-bottom: 60px;
    line-height: 28px;
    font-size: 18px;
  }
}

.circles {
  display: flex;
  justify-content: center;
}
.circles__item {
  width: 11px;
  height: 11px;
  border: 2px solid #cacaca;
  border-radius: 50%;
  margin-left: 9px;
}
.circles__item:first-child {
  background: #a9afb3;
  border-color: #a9afb3;
  margin: 0;
}

.photos {
  display: flex;
}
.photos__column {
  width: 33.333%;
  display: flex;
  flex-direction: column;
}
.photos__column:nth-child(2) {
  flex-direction: row;
}
.photos__column:nth-child(2) > img {
  width: 50%;
}
.photos__group {
  display: flex;
  height: 50%;
}
.photos__element {
  width: 50%;
}
.photos__photo {
  width: 100%;
  height: auto;
  transition: 0.2s;
}
@media (max-width: 767px) {
  .photos {
    flex-direction: column;
  }
  .photos__column {
    width: 100%;
  }
}

.btn-discover {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.btn-discover__btn {
  width: 300px;
  height: 50px;
  border: 2px solid #94979a;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
}
.btn-discover__btn:hover {
  background: #94979a;
  color: #000;
}
.btn-discover__btn:active {
  transform: scale(0.95);
}
@media (max-width: 767px) {
  .btn-discover {
    flex: 0 0 120px;
  }
  .btn-discover__btn {
    width: 200px;
    height: 40px;
    font-size: 11px;
  }
  .btn-discover__btn:hover {
    background: none;
    color: #fff;
  }
  .btn-discover__btn:active {
    transform: scale(1);
    background: #94979a;
    color: #000;
  }
}

.email {
  flex: 0 0 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email__logo {
  height: 85px;
  margin-bottom: 35px;
}
.email__title {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  margin-bottom: 35px;
}
.email__form {
  display: flex;
}
.email__input {
  width: 400px;
  height: 70px;
  border: 2px solid #d3d7d9;
  color: #929292;
  font-family: "Lato" sans-serif;
  font-size: 20px;
  font-style: italic;
  padding: 0 5%;
  transition: 0.1s;
  margin-right: 8px;
  cursor: pointer;
}
.email__input:focus {
  border-color: #64c29e;
}
.email__btn {
  width: 130px;
  height: 70px;
  background: #64c29e;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s;
}
.email__btn:hover {
  background: none;
  border: 2px solid #64c29e;
  color: #929292;
}
@media (max-width: 1200px) {
  .email {
    flex: 0 0 400px;
  }
}
@media (max-width: 767px) {
  .email {
    flex: 0 0 350px;
  }
  .email__logo {
    margin-bottom: 20px;
  }
  .email__title {
    margin-bottom: 30px;
  }
  .email__input {
    width: 250px;
    height: 45px;
    font-size: 16px;
  }
  .email__btn {
    height: 45px;
    width: 70px;
    font-size: 19px;
  }
}
@media (max-width: 340px) {
  .email__input {
    width: 150px;
  }
  .email__btn {
    width: 40px;
  }
}

.footer {
  flex: 0 0 250px;
  display: flex;
  align-items: center;
  background: #f7f7f7;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__container {
  width: 1100px;
  padding: 0 50px;
}
.footer__title {
  color: #848789;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.footer__adress {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  display: block;
  text-decoration: underline;
}
.footer__email {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 25px;
  text-decoration: underline;
  display: block;
}
.footer__socials {
  align-self: center;
  display: flex;
  align-items: center;
}
.footer__socials > div {
  margin-right: 15px;
}
.footer__socials > div:last-child {
  margin-right: 0;
}
.footer__by {
  display: flex;
  align-items: center;
}
.footer__text-by {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer__row {
    height: 179px;
    flex-direction: column;
    align-items: center;
  }
}