@import '_nullstyle.scss';
@import '_fonts.scss';

.wrapper {
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
}
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
body.no-scroll{overflow: hidden;}
.container {max-width: 1100px; margin: 0 auto;}
.header {
	position: absolute;
	z-index: 50;
	top: 35px;
	left: 0;
	width: 100%;
	transition: 0.4s;

	&__row {
		display: flex;
		justify-content: center;
	}

	@media (max-width: 767px) {
		height: 100%;
		top: -150%;
		padding-top: 20px;
		background: rgba(77, 73, 89, 0.7);
		&__row{align-items: center;}
	}
}
.header.active{
	top: 0;
	position: fixed;
}
.menu {
	position: relative;
	width: 620px;

	&__body{
		@media (min-width: 768px){
			height: 85px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		flex: 0 0 620px;
		height: 100%;
		justify-content: space-between;
	}

	&__item {
		display: none;
	}

	&__element {
		position: relative;
		a {
			cursor: pointer;
			color: #4d4959;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		padding: 0 70px;
		&:first-child{padding: 0;}
		&:last-child{padding-right: 0;}
		&::before{
			content: '';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #4d4959;
			position: absolute;
			top: 50%;
			left: 33px;
			margin-top: -1px;
		}
		&:first-child::before{
			content: '';
			display: none;
		}
		&:active {
			transform: scale(0.95);
		}
	}
	@media (max-width: 767px) {
		width: auto;
		top: 0;
		&__column{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.first-element {
			padding-top: 50px !important;
			&::before{
				content: '';
				display: none !important;
			}
		}
		&__item{display: block;}
		&__element {
			padding: 100px 0 0 0 !important ;
			&::before {
				top: 48px;
				left: 50%;
				margin-left: -2px;
			}
			&:first-child::before{
				content: '';
				display: block;
			}
		}
		&__element a{color: #fff;}
		&__element::before{background: #fff;}
		&__row{flex-direction: column;}
	}
}
.main-screen{
	flex: 1 0 100%;
	background: url('../image/header-bg.png') center / cover no-repeat;
	&__logo {
		position: absolute;
		top: 30px;
		left: 50%;
		z-index: 100;
		margin-left: -47px;
	}

	&__burger {
		display: none;
	}
	@media (max-width: 767px) {
		&__burger {
			display: block;
			position: fixed;
			top: 58px;
			right: 40px;
			z-index: 51;
			width: 30px;
			height: 20px;
			cursor: pointer;
		}
		&__logo {top: 20px;}
		&__burger-line{
			height: 2.2px;
			color: #4d4959;
			background: #64c29e;
			border-radius: 2px;
			margin-bottom: 5px;
			transition: 0.2s;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.burger-menu.active {
	height: 30px;
	>:first-child{
		transform: rotate(45deg);
		position: relative;
		top: 6.3px;
		margin: 0;
	}
	>:nth-child(2){
		scale: 0;
	}
	>:last-child{
		transform: rotate(-45deg);
		position: relative;
		bottom: 2.3px;
	}
}
.block-text {
	padding: 72px 0;

	&__container {
		text-align: center;
		padding: 50px 67px;
		&_max-width{
			max-width: 1100px;
			margin: 0 auto;
		}
	}

	&__icon {
		margin-bottom: 25px;
	}

	&__title {
		margin-bottom: 19px;
		color: #353738;
		font-family: 'Lato', sans-serif;
		font-size: 19px;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 28px;
	}

	&__paragraf {
		color: #848789;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		line-height: 34px;
	}
	@media (max-width:1100px){
		padding: 60px 0;
		&__container {
			padding: 35px 40px;
		}
		&__icon{margin-bottom: 28px;}
		&__title{
			letter-spacing: 2.5px;
			margin-bottom: 22px;
		}
		&__paragraf{
			line-height: 24px;
			font-size: 16px;
		}
	}
	@media (max-width:767px){
		padding: 50px 0 ;
		&__icon{margin-bottom: 25px;}
		&__title{
			letter-spacing: 2px;
			margin-bottom: 20px;
		}
		&__paragraf{
			line-height: 23px;
			font-size: 14px;
		}
	}
}
.cards {

	& > div {
		display: flex;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
}
.background-img {
	background: center / cover no-repeat;
	position: relative;
	@media (max-width: 767px) {
		height: auto;
		width: 100% !important;
		padding-bottom: 60%;
	}

	&_vintage-olivia {
		background-image: url(../image/vintage-olivia.png);
		width: 66.667%;
	}

	&_la-boriosa {
		background-image: url(../image/la-boriosa.png);
		width: 66.667%;
	}

	&_retro-bike-first {
		background-image: url(../image/retro-bike-first.png);
		width: 33.333%;
	}

	&_retro-bike-second {
		background-image: url(../image/retro-bike-second.png);
		width: 33.333%;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(100, 194, 158, 0.5);
		transition: 0.2s;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
	}
	&:hover{
		.background-img__logo {
			opacity: 1;
			visibility: visible;
		}
	}
}
.text-img {
	width: 33.333%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 767px) {
		width: 100%;
	}

	&__block-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
		@media (max-width:767px){
			padding: 0;
			&__icon{margin-bottom: 25px;}
			&__title{
				letter-spacing: 2px;
				margin-bottom: 20px;
			}
			&__paragraf{
				line-height: 23px;
				font-size: 14px;
			}
		}
	}

	&__after::after{
		content: '';
		display: block;
		width: 50px;
		height: 2px;
		margin: 30px auto 0;
		background: #dbdbdb;
	}

	&__background-img {
		padding:  0 0 37.502% 0;
		background: center / cover no-repeat;

		&_vintage-olivia {
			background-image: url(../image/vintage-olivia-mini-background.png);
		}

		&_la-boriosa {
			background-image: url(../image/la-boriosa-mini-background.png);
		}

		&_retro-bike {
			background-image: url(../image/retro-bike-mini-background.png);
		}
	}
}
.twitter {
	display: flex;
	flex: 0 0 470px;
	justify-content: center;
	align-items: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 67px;
	}

	&__img {
		padding-bottom: 35px;
	}

	&__title {
		padding-bottom: 24px;
		color: #353738;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.8px;
		text-align: center;
		& span {
			font-family: "Myriad Pro";
			letter-spacing: 1.8px;
			color: #848789;
			font-weight: 300;
		}
	}

	&__paragraf {
		padding-bottom: 104px;
		color: #848789;
		font-family: 'Lato', sans-serif;
		text-align: center;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	}

	@media (max-width: 1300px) {
		flex: 0 0 420px;

		&__img {
			padding-bottom: 30px;
		}

		&__title {
			font-size: 17px;
			padding-bottom: 20px;
		}

		&__paragraf {
			padding-bottom: 80px;
			line-height: 28px;
			font-size: 20px;
		}
	}
	@media (max-width: 767px) {
		flex: 0 0 410px;

		&__img {
			padding-bottom: 25px;
		}

		&__title {
			font-size: 16px;
			padding-bottom: 17px;
		}

		&__paragraf {
			padding-bottom: 60px;
			line-height: 28px;
			font-size: 18px;
		}
	}
}
.circles {
	display: flex;
	justify-content: center;

	&__item {
		width: 11px;
		height: 11px;
		border: 2px solid #cacaca;
		border-radius: 50%;
		margin-left: 9px;
		&:first-child {
			background: #a9afb3;
			border-color: #a9afb3;
			margin: 0;
		}
	}
}
.photos {
	display: flex;
	
	&__column {
		width: 33.333%;
		display: flex;
		flex-direction: column;
		&:nth-child(2) {
			flex-direction: row;
			> img {
				width: 50%;
			}
		}
	}

	&__group {
		display: flex;
		height: 50%;
	}

	&__element {
		width: 50%;
	}

	&__photo {
		width: 100%;
		height: auto;
		transition: 0.2s;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		&__column {width: 100%;}
	}
}
.btn-discover {
	flex: 0 0 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	&__btn {
		width: 300px;
		height: 50px;
		border: 2px solid #94979a;
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.1s;
		cursor: pointer;
		&:hover {
			background: #94979a;
			color: #000;
		}
		&:active {
			transform: scale(0.95);
		}
	}
	@media (max-width: 767px) {
		flex: 0 0 120px;
		&__btn {
			width: 200px;
			height: 40px;
			font-size: 11px;
			&:hover {
				background: none;
				color: #fff;
			}
			&:active {
				transform: scale(1);
				background: #94979a;
				color: #000;
			}
		}
	}
}
.email {
	flex: 0 0 470px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		height: 85px;
		margin-bottom: 35px;
	}

	&__title {
		color: #848789;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
		text-align: center;
		margin-bottom: 35px;
	}

	&__form {
		display: flex;
	}

	&__input {
		width: 400px;
		height: 70px;
		border: 2px solid #d3d7d9;
		color: #929292;
		font-family: 'Lato' sans-serif;
		font-size: 20px;
		font-style: italic;
		padding: 0 5%;
		transition: 0.1s;
		margin-right: 8px;
		cursor: pointer;
		&:focus {
			border-color: #64c29e;
		}
	}

	&__btn {
		width: 130px;
		height: 70px;
		background: #64c29e;
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.1s;
		&:hover {
			background: none;
			border: 2px solid #64c29e;
			color: #929292;
		}
	}
	@media (max-width: 1200px) {
		flex: 0 0 400px;
	}
	@media (max-width: 767px) {
		flex: 0 0 350px;
		&__logo {
			margin-bottom: 20px;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__input {
			width: 250px;
			height: 45px;
			font-size: 16px;
		}
		&__btn {
			height: 45px;
			width: 70px;
			font-size: 19px;
		}
	}
	@media (max-width: 340px) {
		&__input {
			width: 150px;
		}
		&__btn {
			width: 40px;
		}
	}
}
.footer {
	flex: 0 0 250px;
	display: flex;
	align-items: center;
	background: #f7f7f7;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__container{
		width: 1100px;
		padding: 0 50px;
	}

	&__title {
		color: #848789;
		font-family: 'Lato', sans-serif;
		line-height: 30px;
		text-align: left;
		font-size: 16px;
		font-weight: 700;
	}

	&__adress {
		color: #848789;
		font-family: 'Lato', sans-serif;
		font-style: italic;
		font-size: 14px;
		line-height: 17px;
		display: block;
		text-decoration: underline;
	}

	&__email {
		color: #848789;
		font-family: 'Lato', sans-serif;
		font-style: italic;
		font-size: 14px;
		line-height: 25px;
		text-decoration: underline;
		display: block;
	}

	&__socials {
		align-self: center;
		display: flex;
		align-items: center;
		> div {
			margin-right: 15px;
			&:last-child {margin-right: 0;}
		}
	}

	&__by {
		display: flex;
		align-items: center;
	}

	&__text-by {
		margin-right: 10px;
	}

	@media (max-width: 767px) {
		
		&__row {
			height: 179px;
			flex-direction: column;
			align-items: center;
		}
	}
}